py-cid @ git+https://github.com/crossbario/py-cid.git@e1dc52a43ced53845679405f78d92fb18f093653
py-multihash @ git+https://github.com/crossbario/py-multihash.git@86b54b8f9f0cf14c7370f38ae32f2b4b14f5b5e0
autobahn[twisted,encryption,compress,serialization,scram,xbr] @ git+https://github.com/coding-beagle/autobahn-python.git@049f97c9ed34bc553c0846aa8cd36574b0c129e8
lmdb @ git+https://github.com/Bye-lemon/py-lmdb.git@7d9dfdf553bbd56d117bd64287639a68cb6dbec9